<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project.Properties.Settings.ConString" connectionString="Data Source=172.20.6.92\SQLEXPRESS;Initial Catalog=pr9901_20;Persist Security Info=True;User ID=pr9901_20;Password=pwd9901_20" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>